body{
    font-family: 'Baloo Thambi 2', cursive;
}

nav {
    height: 65px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #0D1326;
}

a:hover{
    text-decoration: none;
}

input,textarea{
    border-radius: 0 !important;
}

.form-control:focus{
    box-shadow: none !important;
}
nav .navbar-brand img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    padding: 2px;
}

nav .navbar-collapse {
    height: 65px;
    z-index: 130;
    
}
@-webkit-media (max-width: 992px) {
    nav .navbar-collapse {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
   }
}
@-moz-media (max-width: 992px) {
    nav .navbar-collapse {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
   }
}
@media (max-width: 992px) {
    nav .navbar-collapse {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
   }
}
nav .navbar-collapse .navbar-nav {
    height: 100%;
}
nav img {
    max-height: 65px;
}

.nav-item.active{
    background-color: #00bcd4;
}
nav li, nav a {
    cursor: pointer;
    font-weight: 600;
    height: 100%;
    transition: all .4s ease;
    color: #e6ebff !important
}

@-webkit-media (max-width: 992px) {
    nav li:last-of-type:not(.drop) {
        width: 100%;
        border-radius: 0 !important;
        margin-left: 0 !important;
   }
}
@-moz-media (max-width: 992px) {
    nav li:last-of-type:not(.drop) {
        width: 100%;
        border-radius: 0 !important;
        margin-left: 0 !important;
   }
}
@media (max-width: 992px) {
    nav li:last-of-type:not(.drop) {
        width: 100%;
        border-radius: 0 !important;
        margin-left: 0 !important;
   }
}
nav li.active a:not(.drop-link) {
    color: #FFF
}

nav li:hover > a:not(.drop-link){
    background-color:  #00bcd4 !important
}

nav .nav-link:hover + .dropdown-men, .dropdown-men:hover {
    height: auto;
    visibility: visible;
    overflow: visible;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease;
}
nav .dropdown-men {
    top: 100%;
    left: 0;
    min-width: 260px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(10px);
    background-color: #0D1326;
}
nav .dropdown-men a {
    font-weight: 500;
    transition: 0.5s;
    color: #e6ebff !important
}
nav .dropdown-men a:not(.last) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
nav .dropdown-men a.active, nav .dropdown-men a:hover {
    background-color: #00bcd4;
    color: #fff !important;
}

nav .drop a:hover{
    text-decoration: none;
}

/* Slider */
.main-slider{
    overflow: hidden;
}
.main-slider .carousel-indicators{
    top: 80%;
}

.main-slider .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.main-slider .carousel-indicators li a {
    z-index: 120 !important;
}

.main-slider .carousel-indicators li:not(.active) {
    background-color: #0D1326;
}

.main-slider .carousel-caption {
    transform: translate(-50%, -50%) !important;
    top: 50%;
    left: 50%
}

.main-slider .carousel-caption p {
    font-size: 24px;
    font-weight: 100;
}
.main-slider .carousel-caption h1 {
    font-weight: bold;
}
.main-slider .carousel-caption button {
    background-color: #FFF;
    color: #000;
    width: 95px;
    border: 0;
    border-radius: 80px;
}
.main-slider .carousel-caption button:last-of-type {
    background-color: #FFF;
    color: #0D1326;
}
.main-slider .carousel-caption button:hover {
    background-color: #0D1326;
    color: #FFF;
}

.main-slider .slider-overlay,
.main-slider .slider-overlay2 {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #00bcd4;
    z-index: 1;
    border-right: 6px solid #149eb0e6;
    transition: all .5s ease;
}

.main-slider .slider-overlay2{
    right: 0 !important;
    background-color: rgba(0,0,0,.5);
    border: 0;
}

.main-slider .slider-overlay h1{
    font-size: 2.2em;
}
.main-slider .slide-dir {
    z-index: 120;
    width: 50px;
    height: 50px;
    background-color: #0d1326;
    top: 50%;
    border-radius: 100%;
    transition: all .3s ease;
}

.carousel-control-prev{
    transform: translateX(-100px);
}

.carousel-control-next{
    transform: translateX(100px);
}

.main-slider:hover .carousel-control-prev,
.main-slider:hover .carousel-control-next{
    transform: translateX(0px);
}

.carousel-inner img{
    transform: translateX(100px);
}
/* Slider */

.aboutUs .about h2{
    color: rgb(255, 79, 87)
}

.aboutUs .about h2::after,
.whyUs h3::after,
.services h3 span::after{
    content:'';
    position: absolute;
    right: 101%;
    top: 65%;
    border-bottom: 3px solid #82CE37;
    width: 8%
}
.aboutUs .about h4{
    color: #00bcd4
}

.aboutUs .about h5{
    color: #fd7e14
}

.aboutUs .know{
    border-radius: 100px;
    background-color: #82CE37;
    border-bottom: 3px solid #fd7e14;
}

.aboutUs .aboutForm{
    background-color: rgb(255, 79, 87);
}

.aboutHeader {
    height: 300px;
    background-image: url('../images/aboutUs/3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutHeader::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    opacity: .8;
    z-index: 30;
}

.about-img img {
    width: 450px;
    height: 450px;
    border-radius: 100%;

}
/* whyUs */
.whyUs{
    background-color: #EEE;
}

.whyUs h4{
    color: #fd7e14
}

.whyUs p{
    font-size: 1.2em
}

.whyimg::after{
    content: '';
    position: absolute;
    left: 24px;
    top: 24px;
    width: 92%;
    height: 88%;
    background-color: #00bcd485;
}
/* Services */
.services,
.services h3{
    background-color: #f6f6f6;
}

.services h3,
.services .bg-white{
    box-shadow: 0px 6px 3px -2px #ddd;
}

.services .col-4 .active::after{
    width: 100% !important
}

.services .col-4 .bg-white{
    transition: all .3s ease;
}

.services .secondSer::after,
.services .lastSer::after,
.services .col-4 .active::after{
    content: '';
    background-color: #fd7e14;
    transition: all .2s linear;
    position: absolute;
    left: 0;
    top: 0;
    height: 4px;
    width: 0
}


.services .col-4 .bg-white:hover::after{
    width: 100%;
    
}

.services .col-4 .bg-white:hover{
    transform: scale(1.1);
}

/* How To Search */
.howSearch{
    background-color: #0D1326;
}

.howSearch h2 {
    color: #FFF;
}

.howSearch h2::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    height: 3px;
    background-color: rgb(255, 79, 87);
    width: 10%
}
.howSearch h5{
    color: rgb(255, 79, 87)
}

.howSearch p{
    color: #FFF
}

.blue-bg{
    background-color: #4D4545;
    color: rgb(255, 79, 87);
    height: 100%
}
    
.circle{
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: rgb(255, 79, 87);
    color: #FFF;
    max-height: 50px;
    z-index: 2
}

.how-it-works.row{
    display: flex
}

.how-it-works.row .col-2{
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: center
}

.how-it-works.row .col-2::after{
    content: '';
    position: absolute;
    border-left: 3px solid rgb(255, 79, 87);
    z-index: 1;
    width: 100px;
    height: 100px;
    left: 89px;
    top: 20px;
}

.how-it-works.row .col-2.bottom::after{
    height: 50%;
    left: 50%;
    top: 50%
}


.how-it-works.row .col-2.full{
    height: 100%;
    left: calc(0% - 3px)
}

.how-it-works.row .col-2.top::after{
    height: 50%;
    left: 50%;
    top: 0
}

.timeline div{
    padding: 0;
    height: 40px
}

.timeline hr{
    border-top: 3px solid rgb(255, 79, 87);
    margin: 0;
    top: 17px;
    position: relative
}
.timeline .col-2{
    display: flex;
    overflow: hidden
}

.timeline .corner{
    border: 3px solid rgb(255, 79, 87);
    width: 100%;
    position: relative;
    border-radius: 15px
}

.timeline .top-right{
    left: 50%;
    top: -50%
} 

.timeline .left-bottom{
    left: -50%;
    top: calc(50% - 3px)
}

.timeline .top-left{
    left: -50%;
    top: -50%
}

.timeline .right-bottom{
    left: 50%;
    top: calc(50% - 3px)
}


/* Contact */
.contact h4{
    color: rgb(255, 79, 87)
}

.contact h3{
    color: #00bcd4
}

.contact h4::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 4px;
    width: 5%;
    background-color: #82CE37;
}

/* Footer */
.footer{
    background-color: #0D1326;
 
}

.footer a{
    width: 40px;
    height: 40px;
}

.footer a.face{
    background: #3b5998;
}

.footer a.twitter{
    background: #00aced;
}

.footer a.google{
    background: #dd4b39;
}

.footer a:hover{
    text-decoration: none;
}


/* Search For School Page */
 /* Set the size of the div element that contains the map */
 #map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 96%;
    width: 100%;
}

.search{
    position: fixed;
    width: 25%;
    top: 65px;
    right: 0;
    bottom:0;
    background-color: #0f1939;
    z-index: 20;
    transition: all .4s ease;
}

.search .menu-title{
    background-color: #0D1326;
    border-top: 2px solid #007bff
}

#nearest a{
    color: #FFF;
}

.search .menu-toggle{
    width: 45px;
    height: 45px;
    align-self: center;
    background-color: #0f1939;
    position: absolute;
    right: 100%;
    cursor: pointer;
}

.search .menu-toggle span{
    display: block;
    width: 90%;
    height: 2px;
    background-color: #FFF;
    border-radius: 20px;
    margin: auto;
}

.hideCrMenu{
    right: -25%
}

/* useful Links */
.usefulLinks{
    background-color: #0f1939
}

.usefulLinks h2{
    color: rgb(255, 79, 87) !important
}
.hospitals h3,.schools h3 , .usefulData h3{
    border-bottom: 1px solid #c7c7c7;
}
.hospitals a,
.schools a{
    transition: all .3s ease-in-out;
}

.hospitals a:hover,
.schools a:hover{
    color: #FFF !important
}

/* Scroll To Top Button */
.b-t-t{
    position: fixed;
    bottom: 40px;
    right: 40px;
    border: 0;
    width: 60px;
    height: 60px;
    font-size: 30px;
    background-color: #007bff;
    color: #FFF;
    z-index: 999;
    opacity: 0;
    cursor: pointer;
}

.showbtn{
    opacity: 1 !important;
}

/* School Range Slider */

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #007bff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFF;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }