include ./pug/aboutSections
doctype html
html(lang='en')
  head
    +head('About Us Page')
  body
    // Navbar
    +navbar
    
    +header

    +container

    // Useful Links
    +usefulLinks

    // Footer
    +footer

    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    +scripts
