include ./pug/contactSections
doctype html
html(lang='en')
  head
    +head('Contact Us Page')
  body
    // Navbar
    +navbar

    // Contact Us
    +contact

    // Useful Links
    +usefulLinks

    // Footer
    +footer

    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    +scripts
