include ./pug/indexSections
doctype html
html(lang='en')
  head('Home Page')

  body
    // Navbar
    +navbar

    // School Modal
    +schoolModal

    // Hospital Modal
    +hospitalModal

    // Slider
    +slider

    // About Us
    +aboutUs

    // Why Us
    +whyUs

    // Services
    +services

    // How To Search
    +howToSearch

    // Useful Links
    +usefulLinks

    // Footer
    +footer

    // Scroll To Top Button
    +backToTop

    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    +scripts
