include ./pug/loginSections
doctype html
html(lang='en')
  head
    +head
  body
    // Navbar
    +navbar

    +container

    // Footer
    +footer

    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    +scripts
