include ./pug/registerSections
doctype html
html(lang='en')
  head
    +head('Register Page')

  body
    // Navbar
    +navbar

    +container

    // Footer
    +footer

    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    +scripts
