mixin head(title)
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='icon', href='./images/homeicon.png')
    // Bootstrap CSS
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/style.css')
    link(rel='stylesheet', href='./css/all.min.css')
    link(href='https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap', rel='stylesheet')
    title=title

mixin navbar
    nav.navbar.navbar-expand-lg.navbar-dark.p-0.d-flex.align-items-center.py-0
      .container
        a.navbar-brand.p-0(href='index.html')
          img(src='images/logo.png')
        button.navbar-toggler(data-toggle='collapse', data-target='#n-links')
          span.navbar-toggler-icon
        #n-links.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.align-items-center
            li.nav-item.active.position-relative
              a.nav-link.d-flex.align-items-center.py-0.px-3(href='index.html') HOME
                span.sr-only (current)
            li.nav-item
              a.nav-link.d-flex.align-items-center.py-0.px-3(href='aboutUs.html') About
            li.nav-item.position-relative
              a.nav-link.d-flex.align-items-center.py-0.px-3 Search
                i.fas.fa-angle-down.ml-2.fa-sm
              ul.position-absolute.list-unstyled.dropdown-men
                li.drop
                  a.drop-link.text-decoration-none.text-dark.d-block.py-3.pl-3.active(href='schoolSearch.html') School
                li.drop
                  a.drop-link.text-decoration-none.text-dark.d-block.py-3.pl-3.last(href='hospitalSearch.html') Hospital
            li.nav-item
              a.nav-link.d-flex.align-items-center.py-0.px-3(href='contactUs.html') CONTACT 
            li.nav-item.ml-3.text-white.sign.d-flex.align-items-center
              .mr-3
                a(href='login.html')
                  i.fas.fa-lock
                  span Sign in
              div
                a(href='register.html')
                  i.fas.fa-sign-out-alt
                  span Sign up

mixin schoolModal
    #exampleModalschool.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header(style='padding-bottom: 10px;')
            h2#exampleModalLabel.modal-title What About School ? 
          .modal-body Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste autem, voluptatibus quasi, praesentium aliquid consectetur explicabo illo sit eaque adipisci ab, et corrupti. Autem perferendis error, reiciendis enim rerum soluta. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste autem, voluptatibus quasi, praesentium aliquid consectetur explicabo illo sit eaque adipisci ab, et corrupti. Autem perferendis error, reiciendis enim rerum soluta.
          .modal-footer
            button.btn.text-white(type='button', style='background-color: #007bff;', data-dismiss='modal') Close

mixin hospitalModal
    #exampleModalhospital.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h2#exampleModalLabel.modal-title What About Hospitals ?
          .modal-body Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste autem, voluptatibus quasi, praesentium aliquid consectetur explicabo illo sit eaque adipisci ab, et corrupti. Autem perferendis error, reiciendis enim rerum soluta. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste autem, voluptatibus quasi, praesentium aliquid consectetur explicabo illo sit eaque adipisci ab, et corrupti. Autem perferendis error, reiciendis enim rerum soluta.
          .modal-footer
            button.btn.text-white(type='button', style='background-color: #007bff;', data-dismiss='modal') Close

mixin slider
    #carouselExampleFade.carousel.slide.carousel-fade.main-slider(data-ride='carousel')
      .slider-overlay
        canvas#particles.position-absolute.w-100.h-100
        .carousel-caption.d-none.d-sm-block.w-75
          p Ready to Search – School, Hospitals Online
          h1 YOUR IDEAS WILL BE HEARD & SUPPORTED 
          button.btn.mt-4.mr-2.py-2.w-25(data-toggle='modal', data-target='#exampleModalschool') SCHOOLS
          button.btn.mt-4.py-2.w-25(data-toggle='modal', data-target='#exampleModalhospital') HOSPITALS
      .slider-overlay2
      ul.carousel-indicators.w-50.m-0
        li.active(data-target='#carouselExampleFade', data-slide-to='0')
        li(data-target='#carouselExampleFade', data-slide-to='1')
        li(data-target='#carouselExampleFade', data-slide-to='2')
        li(data-target='#carouselExampleFade', data-slide-to='3')
        li(data-target='#carouselExampleFade', data-slide-to='4')  
        li(data-target='#carouselExampleFade', data-slide-to='5')
        li(data-target='#carouselExampleFade', data-slide-to='6')
        li(data-target='#carouselExampleFade', data-slide-to='7')  
      .carousel-inner.h-100
        .carousel-item.active.h-100
          img.w-100.d-block(src='images/Slider/schools/1.png')
        .carousel-item.h-100
          img.w-100.d-block(src='images/Slider/schools/2.png')
        .carousel-item.h-100
          img.w-100.d-block(src='images/Slider/schools/3.png')
        .carousel-item.h-100
          img.w-100.d-block(src='images/Slider/schools/4.png')
        .carousel-item.h-100
          img.w-100.d-block(src='images/Slider/hospitals/1.png')
        .carousel-item.h-100
          img.w-100.d-block(src='images/Slider/hospitals/2.png')
        .carousel-item.h-100
          img.w-100.d-block(src='images/Slider/hospitals/3.png')
        .carousel-item.h-100
          img.w-100.d-block(src='images/Slider/hospitals/4.png')
      a.carousel-control-prev.slide-dir.ml-3(href='#carouselExampleFade', data-slide='prev')
        span.carousel-control-prev-icon
        span.sr-only Previous
      a.carousel-control-next.slide-dir.mr-3(href='#carouselExampleFade', data-slide='next')
        span.carousel-control-next-icon
        span.sr-only Next 

mixin aboutUs
    .aboutUs
      .container-fluid(style='margin-right: 102px;')
        .row
          .col-6.p-5.about
            h2.position-relative.ml-5 About Us
            h4 Welcome To Education And Hospitals
            p.mt-5.font-weight-bold Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste autem, voluptatibus quasi, praesentium aliquid consectetur explicabo illo sit eaque adipisci ab, et corrupti. Autem perferendis error, reiciendis enim rerum soluta. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste autem, voluptatibus quasi, praesentium aliquid consectetur explicabo illo sit eaque adipisci ab, et corrupti. Autem perferendis error, reiciendis enim rerum soluta.
            h5.mt-4 Presenting Your Criteria
            ul.d-flex.justify-content-between.text-muted.w-75.pl-3.font-weight-bold.mt-4
              li Distance
              li Budget
              li Activities
            // Know More Modal
            #exampleModalKnowMore.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h3#exampleModalLabel.modal-title More About Selecting Crieteria
                  .modal-body Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste autem, voluptatibus quasi, praesentium aliquid consectetur explicabo illo sit eaque adipisci ab, et corrupti. Autem perferendis error, reiciendis enim rerum soluta. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste autem, voluptatibus quasi, praesentium aliquid consectetur explicabo illo sit eaque adipisci ab, et corrupti. Autem perferendis error, reiciendis enim rerum soluta.
                  .modal-footer
                    button.btn.text-white(type='button', style='background-color: #007bff;', data-dismiss='modal') Close
            button.btn.know.py-2.px-5.mt-4.text-white.font-weight-bold(data-toggle='modal', data-target='#exampleModalKnowMore') Know More
          .col-6.aboutForm
            .cntainer.p-5
              .row
                h2.text-white Request Information
                form.col-12.p-0.mt-3
                  .row
                    .col-6.pl-0
                      label.text-white First Name
                      input.form-control(type='text')
                    .col-6
                      label.text-white Last Name
                      input.form-control(type='text')
                    .col-6.pl-0.mt-3
                      label.text-white Mobile
                      input.form-control(type='text')
                    .col-6.mt-3
                      label.text-white Email
                      input.form-control(type='text')
                    .col-12.mt-4.p-0
                      label.text-white Your Message
                      textarea.form-control(style='height: 150px;', placeholder='Type Your Message Here')
                      button.form-control.mt-3.text-white.border-0(style='background-color: #00bcd4;') Submit Request

mixin whyUs
    .whyUs.p-4.pl-0
      .container
        .row
          .col-6.p-4.whyimg.position-relative
            img.w-100.h-100(src='./images/why/1.png')
          .col-6.p-3.pl-5
            h3.position-relative(style='color: #ff5252') Why Us
            h2.mt-3(style='color: #00bcd4') Experience Yourself
            ul.list-unstyled.mt-5
              li.d-flex
                h4.mr-2 01
                p.font-weight-bold Cras justo odio
              li.d-flex
                h4.mr-2 02
                p.font-weight-bold Dapibus ac facilisis in
              li.d-flex
                h4.mr-2 03
                p.font-weight-bold Morbi leo risus
              li.d-flex
                h4.mr-2 04
                p.font-weight-bold Porta ac consectetur ac
              li.d-flex
                h4.mr-2 05
                p.font-weight-bold Vestibulum at eros

mixin services
    .services
      .container.p-4
        .row
          .col-4.p-3
            .bg-white.p-3.position-relative.active
              h3.p-3.m-2
                span.position-relative.w-100.d-block.ml-4(style='color: #ff5252') 01
                p.mt-2 Search For School
              p.mt-3 Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat praesent sapien massa.
              button.border-0.font-weight-bold(style='background-color: transparent; color: #ff9800; font-size: 1.2em; cursor: pointer;') Read More
          .col-4.p-3
            .bg-white.p-3.position-relative.secondSer
              h3.p-3
                span.position-relative.w-100.d-block.ml-4(style='color: #ff5252') 02
                p.mt-2 Search For Hospitals
              p.mt-3 Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat praesent sapien massa.
              button.border-0.font-weight-bold(style='background-color: transparent; color: #ff9800; font-size: 1.2em; cursor: pointer;') Read More
          .col-4.p-3
            .bg-white.p-3.position-relative.lastSer
              h3.p-3
                span.position-relative.w-100.d-block.ml-4(style='color: #ff5252') 03
                p.mt-2 Find Nearest
              p.mt-3 Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut libero malesuada feugiat praesent sapien massa.
              button.border-0.font-weight-bold(style='background-color: transparent; color: #ff9800; font-size: 1.2em; cursor: pointer;') Read More

mixin howToSearch
    .howSearch
      .container.p-5
        h2.text-center.mb-5.position-relative.pb-3 How To Search
        .row.align-items-center.how-it-works.pt-4
          .col-2.text-center.bottom
            .circle 1
          .col-6
            h5 Define Service
            p When Enter To Our Website You Will Find 2 Services You Can Choose Any One Of Them , You Can Search For Hospital If You Are ill Or Search For School For Your Son Or Sister
        // path between 1-2
        .row.timeline
          .col-2
            .corner.top-right
          .col-8
            hr
          .col-2
            .corner.left-bottom
        // second section
        .row.align-items-center.justify-content-end.how-it-works
          .col-6.p-0.pl-4
            h5 Enter Rules Criteria
            p After Choose The Service That You Want To Search For It You Can Specify Your Crieteria For Example You Can Specify The Distance Between You And The Choosed Hospital Or School
          .col-2.text-center.full
            .circle 2
        // path between 2-3
        .row.timeline
          .col-2
            .corner.right-bottom
          .col-8
            hr
          .col-2
            .corner.top-left
        // third section
        .row.align-items-center.how-it-works
          .col-2.text-center.top
            .circle 3
          .col-6
            h5 Choose 1 School Or Hospital
            p After Defining The Service And Specify The Criteria Now You Can Choose The Adapted School Or Hospital That Matches Your Specified Criteria And Your Needs

mixin usefulLinks
    .usefulLinks
      .container.p-5
        .row
          .col-3
            h2.font-weight-bold.text-white EduHos
            p.text-muted Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus explicabo animi unde iste rerum, ratione cupiditate corporis magni repellendus modi consequatur reiciendis.
          .col-3.hospitals
            h3.text-white.pb-2 Top Hospitals
            ul.list-unstyled
              li
                a.text-muted(href='#') مستشفى الجامعة ببنها
              li.my-2
                a.text-muted(href='#') المستشفى الكويتى التخصصى
              li
                a.text-muted(href='#') مستشفى الأطفال التخصصي ببنها
              li.my-2
                a.text-muted(href='#') المستشفى الأميري
              li
                a.text-muted(href='#') مستشفى دار الشفاء
          .col-3.schools
            h3.text-white.pb-2 Top Schools
            ul.list-unstyled
              li
                a.text-muted(href='#') مدرسة بنها الحديثه
              li.my-2
                a.text-muted(href='#') مدرسة 25 يناير
              li
                a.text-muted(href='#') مدرسة السلام
              li.my-2
                a.text-muted(href='#') مدرسة 15مايو الاعدادية بنات بالمنشية بنها
              li
                a.text-muted(href='#') مدرسة الفتح الخاصه
          .col-3.usefulData
            h3.text-white.pb-2 Useful Links
            ul.list-unstyled.text-muted
              li A108 Adam Street New York, NY 535022 United States
              li.my-3 Phone: +1 5589 55488 55
              li Email: info@example.com

mixin footer
    .footer.overflow-hidden.py-3
      .container
        .row
          .col-6
            ul.list-unstyled.d-flex.m-0
              li
                a.face.d-flex.justify-content-center.align-items-center.text-white.p-3.d-block(href='')
                  i.fab.fa-facebook-f
              li
                a.twitter.d-flex.justify-content-center.align-items-center.ml-3.text-white.p-3.d-block(href='')
                  i.fab.fa-twitter
              li
                a.google.d-flex.justify-content-center.align-items-center.ml-3.text-white.p-3.d-block(href='')
                  i.fab.fa-google-plus-g
          .col-6.text-white.justify-content-end.d-flex.align-items-center
            | © 2020 EduHos. All rights reserved | Design by 
            span.ml-1(style='color: rgb(255, 79, 87);') GIS Team

mixin backToTop
    button.b-t-t
      i.fas.fa-chevron-up

mixin scripts
    script(src='./js/jquery-3.4.1.min.js')
    script(src='./js/popper.min.js')
    script(src='./js/bootstrap.min.js')
    script(src='./js/particles.js')
    script(src='./js/script.js')